.cardPicture {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 200px;
}
.cardContainer {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  gap: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    transform: translateY(-10px);
  }
}
.cardCategory {
  font-weight: 500;
  color: #8056eb;
  background-color: #e5ddfb;
  border-radius: 30px;
  padding: 0.5rem 1rem;
}
.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 0 20px;
}
.serviceName {
  font-size: 1.2rem;
  font-weight: 600;
}
.nameSurname {
  color: #8056eb;
  font-size: 1.1rem;
}
.address {
  color: #a8a8a8;
  font-size: 1.1rem;
}
.bookButton {
  padding: 0.75rem 1.25rem;
  background: #8056eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 0.9rem;
}
